# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Alfie Mills
	email = 63820393+Alfie-Mills@users.noreply.github.com
[core]
	excludesFile = ~/.gitignore
	fileMode = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	rename = branch -m
